fastapi
uvicorn[standard]
pydantic
scikit-learn
pandas
numpy
matplotlib
seaborn
transformers
prometheus-fastapi-instrumentator
websockets
vaderSentiment
--extra-index-url https://download.pytorch.org/whl/cpu
torch
